[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
authlib = "*"
psutil = "*"
requests = "*"
faker = "*"
google-play-scraper = "*"
flask-login = "*"
pylint = "*"
bs4 = "*"
lxml = "*"
flask-mail = "*"
cerberus = "*"
locust = "*"
flask-misaka = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.8"
