footer {
    width: 100%;
    padding: 6rem 0;
    background-color: #111;
    text-align: center;
    margin-top: 5rem;
}

.lolzor {
  background-color: #fff;
}

table.beest tr td {
  height: 80px;
  width: 160px;
  text-align: center;
  vertical-align: middle;
}
